body{

    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #828282;
    padding: 0 auto;
    margin: 32px auto 0 auto;
    overflow: hidden;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    font-size: 32px;
    font-weight: 500;
    margin-top: 32px;  
}

h1 span {

    color: #EE24FF;
    font-weight: bold; 
}

p {
    margin-top: 16px;
    font-size: 15px;
    line-height: 22px;
}

#hero{

    width: 540px;
    margin: 0 auto 64px auto;
    
}

#hero #san {

    font-size: bold;
    width: 626px;
    height: 21px;
}

#hero #summary {

    margin-top: 32px;   

}

#line {

    width: 391px;
    margin-bottom: 16px;
    
}

#footer a { 
    color: #3F3D56;;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}


#footer a + a {
    
    margin-left: 42px;
}

#baseboard {
    margin: 12px 0 0 0;
    width: 100%;
    height: 100%;
 
}